.editor {
  display: grid;
  width: 100%;
  min-height: 200px;
  grid-template: auto / 1fr;
  --editor-padding: 16px;
}

.editor:after {
  content: attr(data-value) " ";
  visibility: hidden;
  pointer-events: none;
}

.editor:after,
.textarea,
.formatted {
  padding: var(--editor-padding);
  margin: 0;
  font-family: inherit;
  font-size: 15px;
  font-variant-ligatures: none;
  letter-spacing: 0.1px;
  line-height: 22.5px;
  grid-area: 1 / 1 / 2 / 2;
  white-space: pre-wrap;
  tab-size: 2;
}

.textarea {
  z-index: 2;
  border: none;
  resize: none;
  overflow: hidden;
  min-height: min-content;
  background: transparent;
  color: transparent;
  caret-color: currentColor;
  -webkit-text-fill-color: transparent;
  text-size-adjust: none;
  outline: none;
}

.formatted > pre {
  margin: 0;
  background: transparent !important;
  padding: 0 !important;
  font-family: inherit;
  white-space: pre-wrap;
}

.formatted > pre > code {
  font-family: inherit;
}

.plainText {
  color: inherit;
}
